.container {
  min-height: 100vh;
  display:flex; 
  flex-direction:column; 
}

hr {
  max-width: 100%;
}

.toc_level_1 {
  display: block;
  margin-top: 1px;
  margin-bottom: 1px;
}

.toc_level_2 {
  display: block;
  padding-left: 20px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.toc_level_3 {
  display: block;
  padding-left: 40px;
  margin-top: 1px;
  margin-bottom: 1px;
}


.page-title {
  background-color: var(--bg);
  padding: 1rem 1rem 1rem 1rem;
}

img {
  max-width: 100%;
  max-height: 50vh;
}

video {
  max-width: 100%;
  max-height: 50vh;
}


iframe {
  max-width: 100%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header > p {
  font-size: 2rem;
  font-weight: 800;
}

.header-article {
  display: flex;
  align-items: center;
}

.header-article > p {
  font-size: 1.3rem;
  font-weight: 800;
}

.footer {
  /* position: absolute; */
  border-top: 1px solid var(--border);
  margin-top:auto;
  bottom: 0;
  width: 100%;
  /* background-color: #2b2b2b; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer > p {
  font-size: 0.8rem;
}


.standul {
  text-decoration: line-through underline;
}

.strikethrough {
    text-decoration: line-through;
}

.underline {
    text-decoration: underline;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: 650;
}

.code {
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: var(--accent-bg);
  color: var(--code);
}

.tocTitle {
    margin-left: 2em;
}

.col-header {
  background-color: #212121;
}