<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{{page_object.page_title}} - {{page_object.site_name}}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../style/basic_styles.css'>
    <link rel="stylesheet" href="https://unpkg.com/simpledotcss/simple.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src={{'https://www.googletagmanager.com/gtag/js?id=' + page_object.ga}}></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{{page_object.ga}}');
    </script>
    <script>
        const page_object = {{ page_object | tojson}}
        console.log(page_object)
    </script>
</head>
<body>


<!-- header area -->
{% if page_object.cover.type == 'file' %}
    <div style="position: absolute; height: 400px;width: 100%;z-index: 0;background-image: url( {{'./' + page_object.cover.fileName}} ); background-position: center; display: flex; justify-content: center;">
{% elif page_object.cover.type == 'external' %}
    <div style="position: absolute; height: 400px;width: 100%;z-index: 0;background-image: url( {{ page_object.cover.url }} );background-position: center; display: flex; justify-content: center;">
{% else %}
    <div style="position: absolute; height: 400px;width: 100%;z-index: 0;display: flex; justify-content: center;">
{% endif %}  

        <div>
            {% with indexTitle = page_object.site_name %}
            {% include 'header_article.html' %}
            {% endwith %}
            <h1 class="page-title">{{page_object.page_title}}</h1>
            <i class="page-title">Create At: {{page_object.create_date}} {{page_object.create_time}}</i>
        </div>
    </div>


<!-- body area -->
    <div class="container" style="padding-top: 450px">
    <div>
        
        
{% import 'elements.html' as eles %}

{% macro generator(item) %}
{% if item.type == 'heading_1' %}
{{ eles.h1(item.id, item.text) }}
    {% elif item.type == 'heading_2' %}
{{ eles.h2(item.id, item.text) }}
    {% elif item.type == 'heading_3' %}
{{ eles.h3(item.id, item.text) }}
    {% elif item.type == 'paragraph' %}
{{ eles.p(item.text) }}
    {% elif item.type == 'quote' %}
{{ eles.quote(item.text) }}
    {% elif item.type == 'image' %}
{{ eles.img(item.url) }}
    {% elif item.type == 'image_external' %}
{{ eles.img_ext(item.url) }}
    {% elif item.type == 'video' %}
{{ eles.video(item.url) }}
    {% elif item.type == 'video_external' %}
{{ eles.video_ext(item.url) }}
    {% elif item.type == 'video_youtube' %}
{{ eles.video_ytb(item.vid) }}
    {% elif item.type == 'table' %}
{{ eles.table(item.rows) }}
    {% elif item.type == 'bulleted_list_item_group' %}
{{ eles.ul(item['items']) }}
    {% elif item.type == 'numbered_list_item_group' %}
{{ eles.ol(item['items']) }}
    {% elif item.type == 'code' %}
{{ eles.code(item.language, item.contents) }}
    {% elif item.type == 'divider' %}
{{ eles.divider() }}
    {% elif item.type == 'table_of_contents' %}
{{ eles.toc(item.contents) }}
    {% endif %}
{% endmacro %}



{% macro controller(items) %}
{% for each in items %}
{{generator(each)}}
{% if each.children != None %}
<div style="padding-left: 20px;">
{{controller(each.children)}}
</div>
{% endif %}
{% endfor %}
{% endmacro %}

{{controller(page_object.contents)}}

    </div>
    {% include 'footer.html' %}
</div>
</body>
</html>