{% macro generator(item) %}
{% if item.type == 'heading_1' %}
{{ h1(item.id, item.text) }}
    {% elif item.type == 'heading_2' %}
{{ h2(item.id, item.text) }}
    {% elif item.type == 'heading_3' %}
{{ h3(item.id, item.text) }}
    {% elif item.type == 'paragraph' %}
{{ p(item.text) }}
    {% elif item.type == 'quote' %}
{{ quote(item.text) }}
    {% elif item.type == 'image' %}
{{ img(item.url) }}
    {% elif item.type == 'image_external' %}
{{ img_ext(item.url) }}
    {% elif item.type == 'video' %}
{{ video(item.url) }}
    {% elif item.type == 'video_external' %}
{{ video_ext(item.url) }}
    {% elif item.type == 'video_youtube' %}
{{ video_ytb(item.vid) }}
    {% elif item.type == 'table' %}
{{ table(item.rows) }}
    {% elif item.type == 'bulleted_list_item_group' %}
{{ ul(item['items']) }}
    {% elif item.type == 'numbered_list_item_group' %}
{{ ol(item['items']) }}
    {% elif item.type == 'code' %}
{{ code(item.language, item.contents) }}
    {% elif item.type == 'divider' %}
{{ divider() }}
    {% elif item.type == 'table_of_contents' %}
{{ toc(item.contents) }}
    {% endif %}
{% endmacro %}


{% macro indexli(date, title, addr) -%}
    <li>
        <span>{{date}}</span>
        <a href={{addr + '/' + addr + '.html'}} class="tocTitle" >{{title}}</a>
    </li>
{%- endmacro %}
<!-- Rich text objects -->
<!-- See Notion API docs here: https://developers.notion.com/reference/rich-text -->

{% macro span(anno, color, content, link) -%}
{% if link == None %}
<span class="{{ anno + ' '+ color }}">{{content}}</span>
{% else %}
<a href={{link}} class="{{ anno + ' '+ color }}">{{content}}</a>
{% endif %}
{%- endmacro %}

{% macro span_mention(content, page_id) -%}
<a href={{'/' + page_id + '/' + page_id + '.html' }} >{{content}}</a>
{%- endmacro %}



<!-- Heading objects -->
{% macro h1(id, contents) -%}
    <h2 id={{id}}>
        {% for each in contents %}
            {{ span(each.annotations, each.color, each.content, each.link) }}
        {% endfor %}
    </h2>
{%- endmacro %}

{% macro h2(id, contents) -%}
    <h3 id={{id}}>
        {% for each in contents %}
            {{ span(each.annotations, each.color, each.content, each.link) }}
        {% endfor %}
    </h3>
{%- endmacro %}

{% macro h3(id, contents) -%}
    <h4 id={{id}}>
        {% for each in contents %}
            {{ span(each.annotations, each.color, each.content, each.link) }}
        {% endfor %}
    </h4>
{%- endmacro %}

<!-- Paragraph object -->
{% macro p(contents) -%}
    <p>
        {% for each in contents %}
        {% if each['type'] == 'text' %}
            {{ span(each.annotations, each.color, each.content, each.link) }}
        {% elif each['type'] == 'mention_page' %}
            {{ span_mention(each.content, each.page_id) }}
        {% endif %}
        {% endfor %}
    </p>
{%- endmacro %}

<!-- Quotes -->
{% macro quote(contents) -%}
<blockquote>
{% for each in contents %}
{{ span(each.annotations, each.color, each.content, each.link) }}
{% endfor %}
</blockquote>
{%- endmacro %}

<!-- Divider object -->
{% macro divider() -%}
<hr></hr>
{%- endmacro %}

<!-- Code -->
{% macro code(language, contents) -%}
<pre><code class={{language}}>{{contents}}</code></pre>
{%- endmacro %}

<!-- Image -->
{% macro img(url) -%}
    <img src={{'./' + url}}></img>
{%- endmacro %}

<!-- Image External -->
{% macro img_ext(url) -%}
    <img src={{ url }}></img>
{%- endmacro %}

<!-- Video Uploaded -->
{% macro video(url) -%}
<video controls><source src={{'./' + url}} >Sorry, your browser doesn't support embedded videos.</video>
{%- endmacro %}

<!-- Video External -->
{% macro video_ext(url) -%}
<video controls><source src={{ url }} >Sorry, your browser doesn't support embedded videos.</video>
{%- endmacro %}

<!-- Video Youtube -->
{% macro video_ytb(vid) -%}
<iframe width="1280" height="720" src={{'https://www.youtube.com/embed/' + vid}} frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{%- endmacro %}



<!-- Table cell -->
{% macro td(cell) -%}
    <td>
        {% for each in cell %}
            {{ span(each.annotations, each.color, each.content, each.link) }}
        {% endfor %}
        
    </td>
{%- endmacro %}

<!-- Table row -->
{% macro tr(row) -%}
    <tr>
        {% for each in row %}
            {{ td(each) }}
        {% endfor %}
    </tr>
{%- endmacro %}

<!-- Table -->
{% macro table(rows) -%}
    <table>
        {% for each in rows %}
            {{ tr(each) }}
        {% endfor %}
    </table>
{%- endmacro %}

<!-- Bulleted and numbered list item -->
{% macro li(item) -%}
    <li>
        {% for each in item.listItems %}
            {% for every in each %}
                {{ span(every.annotations, every.color, every.content, every.link) }}
            {% endfor %}
        {% endfor %}
    </li>
    {% if item.children != None %}
        {% for any in item.children %}

            {{ generator(any) }}

        {% endfor %}
    {% endif %}
{%- endmacro %}

<!-- Numbered list -->
{% macro ol(items) -%}
    <ol>
        {% for each in items %}
            {{ li(each) }}
        {% endfor %}
    </ol>
{%- endmacro %}

<!-- Bulleted list -->
{% macro ul(items) -%}
    <ul>
        {% for each in items %}
            {{ li(each) }}
        {% endfor %}
    </ul>
{%- endmacro %}

<!-- Table of Contents -->
{% macro toc(contents) -%}
{% for each in contents %}
<a href={{'#' + each.id}} class={{'toc_level_' + each.level|string}}>{{each.text}}</a>
{% endfor %}
{%- endmacro %}



