---
const { block } = Astro.props;

function rearrangeObjects(array) {
    const result = [];

    array.forEach((obj) => {
        obj.children = null;
    });

    for (let i = 0; i < array.length; i++) {
        const currentObject = array[i];
        let inserted = false;

        for (let j = i - 1; j >= 0; j--) {
            const previousObject = array[j];

            if (currentObject.level > previousObject.level) {
                if (!previousObject.children) {
                    previousObject.children = [];
                }
                previousObject.children.push(currentObject);
                inserted = true;
                break;
            }
        }

        if (!inserted) {
            result.push(currentObject);
        }
    }

    return result;
}

const arrangedBlock = rearrangeObjects(block.listItems);
---

<ul class="menu bg-base-200 w-full rounded-box">
    {
        () => {
            function tester(objs) {
                return objs.map((each) => {
                    if (each.children == null) {
                        return (
                            <li>
                                <a href={"#" + each.id}>{each.text}</a>
                            </li>
                        );
                    } else {
                        return (
                            <li>
                                <a href={"#" + each.id}>{each.text}</a>
                                <ul>{tester(each.children)}</ul>
                            </li>
                        );
                    }
                });
            }
            return tester(arrangedBlock);
        }
    }
</ul>
