---
import Framework from '../../layouts/Framework.astro'
import Block from '../../components/Block.astro'

import { indexFetcher, pageBlockFetcher, pageInfoFetcher } from '../../components/Fetchers.js'
import { indexParser, pageParser } from "../../components/Parsers.js"

const { id } = Astro.params;

export async function getStaticPaths(){
    const indexData = await indexFetcher();
    const parsedData = indexParser(indexData.results);

    return parsedData.map((post) => {
        return {
            params: {id: post.id}
        }
    })
    
}

const pageInfoData = await pageInfoFetcher(id);

const pageContentData = await pageBlockFetcher(id);

const pageParsedData = await pageParser(pageContentData);

---
<Framework>
    <h1>{ pageInfoData.properties.Name.title[0].plain_text }</h1>
    {
        pageParsedData.map((block) =>(
            <Block block={block}></Block>
        ))
    }
</Framework>