<footer class="footer mt-auto py-4">
    <div class="container">
        <p class="text-center text-muted border-top">
            Created by <a href="https://github.com/imyangmo/notionpaper">NotionPaper</a>, a tool that helps you use Notion like a CMS.
        </p>
        <p class="text-center text-muted">
            This site uses <a href="https://getbootstrap.com/">Bootstrap</a>
        </p>
    </div>
  </footer>