---
import Skeleton from './Skeleton.astro';
import Header from './Header.astro';
import Footer from './Footer.astro';

const { siteMeta, topics, topicPosts } = Astro.props;

const thisTitle = siteMeta.siteTitle + ' - ' + siteMeta.siteDesc;
---
<Skeleton pageTitle={ thisTitle } siteDesc={ siteMeta.siteDesc } >
    <Header siteTitle={ siteMeta.siteTitle} topics={ topics } />
        <main class="flex-shrink-0">
            <div class="container text-start">
                <h1>{ topicPosts.topicName }</h1>
                {
                    topicPosts.post.map((item) => 
                        <div class="row lh-lg fs-5">
                            <div class="col-3 fst-italic">{ item.date } { item.time }</div>
                            <div class="col-9"><a href={ "/post/" + item.id }>{ item.title }</a></div>
                        </div> 
                    )
                }
            </div>
        </main>
    <Footer />
</Skeleton>
