---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import { getTitle, setTitle, getDesc, setDesc } from '../components/SiteMeta.js'

import { iconMaker } from "../components/Utils";
import { siteInfoFetcher } from "../components/Fetchers.js"

const siteInfo = await siteInfoFetcher()
setTitle(siteInfo.title[0].plain_text);
setDesc(siteInfo.description[0].plain_text)

const siteTitle = getTitle.get();
const siteDesc = getDesc.get();
const siteIcon = iconMaker(siteInfo);
---

<!DOCTYPE html>
<html lang="en-us" class="h-100">
    <head>
        <BaseHead siteTitle={ siteTitle + ' - ' + siteDesc  } siteDesc={ siteDesc } siteIcon={ siteIcon } />
    </head>
    <body class="d-flex flex-column h-100">
        <Header siteTitle={ siteTitle} />

        <main class="flex-shrink-0">
                <slot />
        </main>
        <Footer />


        <!-- <script async src={{'https://www.googletagmanager.com/gtag/js?id=' + index_object.ga}}></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag(' js', new Date()); gtag('config', '{{index_object.ga}}'); 
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/highlight.min.js"></script>
        <script>hljs.highlightAll();</script> -->
	</body>
</html>