<footer class="footer footer-center p-4 bg-base-300 text-base-content">
    <div class="py-4">
        <p>
            Created by <a
                class="link link-primary"
                href="https://github.com/imyangmo/notionpaper">NotionPaper</a
            >, a tool that helps you use Notion like a CMS.
        </p>
        <p>
            This site uses <a
                class="link link-primary"
                href="https://daisyui.com/">DaisyUI</a
            >
        </p>
    </div>
</footer>
